html,
body {
  display: block;
  height: auto;
  min-height: 100vh;
  position: relative;
}
main,
.main {
  display: block;
  min-height: calc(100vh - 160px);
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.fw-b {
  font-weight: bold !important;
  color: black !important;
}
.home {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 0.28571429rem;
}
.questions {
  display: grid;
  grid-gap: 20px;
  padding: 20px 5px;
}
.questions > div {
  min-width: 300px;
  max-width: 500px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.home-tabs button {
  border: 1px solid lightgray !important;
}
.home-tabs button > span {
  margin-left: 5px !important;
}
.home-tabs button.active {
  background-color: rgba(211, 211, 211, 0.133);
}
.login,
.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.login img {
  margin: 50px 0;
}
.login h2 {
  /* margin-bottom: 50px; */
  text-align: center !important;
}
form {
  display: block;
  width: 100%;
}
.login .btn,
.add .btn {
  margin: 20px auto;
}
.add form > div {
  padding: 0 !important;
}
.nav-cont {
  box-shadow: 0 1px 3px 0 #02f6f6, 0 0 0 1px #d4d4d5;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  gap: 10px;
}
.nav .links > a {
  display: inline-block;
  padding: 10px 20px;
  color: unset;
  position: relative;
}
.nav .links > a.active,
.nav .links > a.active:hover {
  background-color: teal;
  color: white;
}

.nav .links > a:hover {
  background-color: rgba(92, 255, 255, 0.205);
}
.nav .links > a {
  border-right: 1px solid lightgray;
}
.nav .links > a:first-of-type {
  border-left: 1px solid lightgray;
}
.container-card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  width: 92%;
  max-width: 600px;
  margin: auto;
  border-radius: 3px;
}
.container-card > div:first-of-type {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  background: rgba(176, 199, 199, 0.222);
  border-radius: 3px 3px 0 0;
}
.container-card > div:first-of-type h3 {
  margin-bottom: 5px;
}
.container-card > div:last-of-type {
  padding: 0px 15px 30px;
  width: 90%;
  margin: auto;
}
.card,
.leader-card {
  max-width: 500px;
  border: 1px solid lightgray;
}
.card-max {
  max-width: 500px !important;
  margin: auto !important;
}
.card img,
.leader-card img {
  width: 100%;
  border-radius: 50%;
}
.seg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px;
  grid-gap: 15px;
  align-items: center;
}
.seg > div {
  border-right: 1px solid lightgray;
}
.inner {
  /* border-left: 1px solid lightgray; */
  /* padding-left: 10px !important; */
  display: grid;
  grid-gap: 10px;
}
.inner > div {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.048);
  padding: 10px;
  position: relative;
  border-radius: 3px;
}

.inner > div.winning-card {
  background-color: rgba(1, 180, 1, 0.048);
  border: 1px solid #21ba45;
}
.container {
  width: 92%;
  max-width: 600px;
  margin: auto;
}
.leader-card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* padding: 10px 0; */
  border-radius: 3px;
  /* position: relative; */
}

.leader-card > div:last-of-type {
  display: grid;
  padding-left: 10px;
}
.leader-card .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.leader-card .details {
  padding: 0 10px;
}
.leader-card .details > div {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.leader-card .details > div:first-of-type {
  border-bottom: 1px solid lightgray;
}
.leader-card .score {
  display: grid;
  grid-template-rows: 2fr 3fr;
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  padding: 0;
}
.leader-card .score > div:first-of-type {
  background-color: rgba(241, 241, 241, 0.472);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 3px 3px 0 0;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
}
.leader-card .score > div:last-of-type {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 3px 3px;
}
.leader-card .score > div span {
  background-color: teal;
  color: white;
  font-weight: bold;
  width: 30px;
  font-size: 1.5rem;
  height: 30px;
  min-width: 50px;
  min-height: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.leader-card > div:nth-of-type(2) {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.leader-card > div:nth-of-type(2) {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.leaders {
  display: grid;
  justify-content: center;
  align-items: center;
}
.card-inner {
  display: flex;
}
.card-inner > div:last-of-type {
  flex-grow: 100;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}
.card-inner > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-tag {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.user-tag span {
  margin-right: 5px;
}
.user-tag button {
  margin-left: 10px !important;
}

.pane > a {
  padding: 0 !important;
}
.footer {
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
}
.footer > div {
  /* background: rgb(16, 16, 59); */
  /* color: lightgray; */
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0px auto 0;
}
.footer a {
  color: rgb(56, 155, 255);
  font-weight: bold;
}
